.bill-reminder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-right: 20px;
    transform: scale(1.4);
  }
  
  .reminder-button {
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 9px;
  }

  .reminder-button:hover{
    background-color: #0056b3;
    cursor:pointer;
  }
  
  .bill-prompt {
    display: flex;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .bill-prompt label,
  .bill-prompt select {
    font:15px;
    margin-bottom: 10px;
    size: 50px;
  }
  
  .bill-prompt button {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 9px;
  }

  .setReminderButton:hover{
      background-color: #0056b3;
      cursor:pointer;
  }
  
  .confirmation-message {
    margin-top: 10px;
    font-size: 14px;
    color: green;
  }

  #billSelect{
    width: 100px;
    height: 100px;
  }
  