.payBillContainer{
    display:flex;
    flex-wrap: wrap;
    margin-left:450px;
    margin-top:100px;
}

.clientCardButton2{
    flex-basis: 50%;
    letter-spacing: 3px;
    margin: 20px;
    height:170px;
    width:50px;
    cursor:pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-color: #757575;
    border-radius: 10px;
    color: black;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0.5, 0.5);
    transition: background-color 0.3s ease;
}

.clientCardButton2:hover {
    background-color: #377ad1;
  }