.bill-reminder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    margin-right: 20px;
    transform: scale(1.4);
  }
  
  .reminderLabel{
    font-size: 20px;

  }

  .reminder-button {
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 9px;
  }

  .reminder-button:hover{
    background-color: #0056b3;
    cursor:pointer;
  }
  
  .bill-prompt {
    background-color: white;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2, 0.2);
    display: flex;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  
  .bill-prompt button {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 9px;
    margin-top:19px;
    border:none;
    box-shadow: 0 2px 4px rgba(0, 0, 0.5, 0.7);
    transition: background-color 0.3s ease;
  }

  .setReminderButton:hover{
      background-color: #0056b3;
      cursor:pointer;
  }
  
  .confirmation-message {
    margin-top: 10px;
    font-size: 14px;
    color: green;
  }

  #billSelect{
    margin-bottom: 9px;
  }

  