.credit-card-application {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .application-button{
    margin-left: 500px;
    margin-right: 5px;
    margin-bottom: 3px;
    background-color: #03a9f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}
.application-button:hover{
    background-color: #3f51b5;
}
  
  
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .popup-content h2 {
    margin-bottom: 20px;
  }
  
  .popup-content form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .popup-content form input,
  .popup-content form select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  .popup-content form button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .popup-content form button[type='button'] {
    background-color: #f44336;
  }
  
  .popup-content p.confirmation-message {
    margin-top: 20px;
  }
  