.credit-card-transactions {
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
  }
  
  .transaction-list {
    overflow: auto;
    max-height: 300px; /* Adjust the max height as needed */
  }
  
  .transaction {
    cursor: pointer;
    padding: 10px;
    background-color: #f5f5f5;
    margin-bottom: 5px;
  }

  .transaction:hover {
    background-color: #c5cae9;
    
  }
  
  .transaction-info {
    display: flex;
    justify-content: space-between;
  }
  
  .transaction-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
  }
  
  .popup-content button {
    margin-top: 10px;
    cursor: pointer;
  }
  