.credit-points {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .credit-points h2 {
    margin-bottom: 10px;
  }
  
  .credit-points p {
    margin-bottom: 20px;
  }
  
  .redeem-form {
    width: 300px;
  }
  
  .redeem-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .redeem-form select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .redeem-form button {
    width: 100%;
    padding: 10px;
    background-color: #03a9f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .redeem-form button:hover {
    background-color: #0174aa;  
  }

    
  
  .redeem-confirmation-message {
    color:#4caf50;
    margin-top: 20px;
    font-weight: bold;
  }
  