.issue-report {
    display: inline-block;
  }
  
  .report-button {
    background-color: #03a9f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
  }

  .report-select{
    margin-bottom: 9px;
  }
  
  .form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    max-width: 400px;
  }
  
  .form-container h2 {
    margin-top: 0;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container textarea {
    width: 100%;
    resize: vertical;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 100px;
  }

  .form-container h2 {
    text-align: center;
  }
  
  .form-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .form-buttons button {
    margin-left: 10px;
    border-radius: 6px;
    cursor: pointer;
  }

  .form-buttons button:hover {
    background-color: #007bff;
  }

  .exit-button{
    margin-top: 10px;
  }

  .exit-button:hover{
    background-color: #007bff;
  }