.Transfers-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh;
  }
  
  .Transfers-form {
    width: 400px;
    padding: 40px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 60vh;
  }
  
  .Transfers-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .Transfers-form .form-group {
    margin-bottom: 20px;
  }
  
  .Transfers-form label {
    padding:8px;
    display: block;
    margin-bottom: 5px;
  }
  
  .Transfers-form select,
  .Transfers-form input[type='number'],
  .Transfers-form input[type='text'] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom:7px;
  }
  
  .Transfers-form .Transfers-button {
    width: 50%;
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 100px;
  }
  
  .Transfers-form .Transfers-button:hover {
    background-color: #45a049;
  }
  
  .Transfers-form .Transfers-confirmation {
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 10px;
  }
  