body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Header Styles */
  .home-header {
    background-color: #303F9F;
    padding: 10px;
  }
  
  .home-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
  }

  .home-navigation ul li:hover{
    text-decoration: underline;
  }
  
  
  .home-logo {
    display: flex;
    align-items: center;
  }
  
  .home-logo img {
    height: 40px; /* Adjust the height as per your logo size */
    margin-right: 10px;
  }
  .home-logo h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .home-navigation ul {
    padding-inline-start: 0px;
    list-style: none;
    display: flex;
  }
  
  .home-navigation li {
    text-align: center;
    margin-right: 20px;
  }
  
  .home-navigation a {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .home-user-area {
    display: flex;
    align-items: center;
  }
  
  .home-login-button,
  .home-register-button {
      background-color: #FFFFFF;
      color: #303F9F;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      margin-left: 10px;
      font-weight: bold;
      cursor: pointer;
    }
    
    .home-login-button:hover,
    .home-register-button:hover {
      background-color: #3070ac;
      color: #ffffff;
    }
  
  /* Content Styles */
  .home-hero-section {
    background-color: #3F51B5;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
  }
  
  .home-hero-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .home-hero-section p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  
  .home-features-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    position: relative;
  }
  
  .home-feature-card {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    margin: 0 20px;
    border-radius: 4px;
    width: 300px;
  }
  
  .home-feature-icon {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .home-feature-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .home-learn-more-container {
    text-align: center;
    margin-top: 30px; /* Adjust as needed */
  }
  
  .home-learn-more-button {
    background-color: #3F51B5; /* Blue color */
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .home-learn-more-button:hover {
    background-color: #303F9F; /* Darker blue on hover */
  }
  