  /* Header Styles */
  .home-header {
    background-color: #303F9F;
    padding: 10px;
  }
  
  .home-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
  }
  
  .home-logo {
    display: flex;
    align-items: center;
  }
  
  .home-logo img {
    height: 40px; /* Adjust the height as per your logo size */
    margin-right: 10px;
  }
  .home-logo h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .home-navigation ul {
    padding-inline-start: 0px;
    list-style: none;
    display: flex;
  }
  
  .home-navigation li {
    text-align: center;
    margin-right: 20px;
  }
  
  .home-navigation a {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .home-user-area {
    display: flex;
    align-items: center;
  }
  
  .home-login-button,
  .home-register-button {
      background-color: #FFFFFF;
      color: #303F9F;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      margin-left: 10px;
      font-weight: bold;
      cursor: pointer;
    }
    
    .home-login-button:hover,
    .home-register-button:hover {
      background-color: #3070ac;
      color: #ffffff;
    }